In [9]:
import pandas as pd
import numpy as np

In [10]:
previous_olympics_df = pd.read_csv ("../Data_Sets/Summer Olympics Medals 1976-2008/Summer-Olympic-medals-1976-to-2008.csv",  encoding='latin-1')
previous_olympics_df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [18]:
total_sports = previous_olympics_df["Event"].count

In [19]:
total_sports

<bound method Series.count of 0        3m springboard
1        3m springboard
2        3m springboard
3        3m springboard
4          10m platform
              ...
15428         66 - 74kg
15429         66 - 74kg
15430         55 - 60kg
15431         60 - 66kg
15432        96 - 120kg
Name: Event, Length: 15433, dtype: object>

In [20]:
#no of players
total_players = previous_olympics_df["Athlete"].count

In [22]:
total_players

<bound method Series.count of 0                 KÖHLER, Christa
1             KOSENKOV, Aleksandr
2            BOGGS, Philip George
3        CAGNOTTO, Giorgio Franco
4          WILSON, Deborah Keplar
                   ...
15428          GUENOT, Christophe
15429         KVIRKELIA, Manuchar
15430            RAHIMOV, Vitaliy
15431              GUENOT, Steeve
15432               LOPEZ, Mijain
Name: Athlete, Length: 15433, dtype: object>

In [23]:
#dataframe
#Athlete,yerar and event
athlete_event = previous_olympics_df[['Year', 'Athlete', 'Event']]
athlete_event

         Year                   Athlete           Event
0      1976.0           KÖHLER, Christa  3m springboard
1      1976.0       KOSENKOV, Aleksandr  3m springboard
2      1976.0      BOGGS, Philip George  3m springboard
3      1976.0  CAGNOTTO, Giorgio Franco  3m springboard
4      1976.0    WILSON, Deborah Keplar    10m platform
...       ...                       ...             ...
15428  2008.0        GUENOT, Christophe       66 - 74kg
15429  2008.0       KVIRKELIA, Manuchar       66 - 74kg
15430  2008.0          RAHIMOV, Vitaliy       55 - 60kg
15431  2008.0            GUENOT, Steeve       60 - 66kg
15432  2008.0             LOPEZ, Mijain      96 - 120kg

[15433 rows x 3 columns]

In [5]:
Dataframe(df_list, columns =["Year", "Athlete", "Event"])

NameError: name 'athlete_event' is not defined

In [6]:
grouped = df.groupby("Event")

NameError: name 'df' is not defined