In [13]:
import pandas as pd

In [20]:
coaches_df = pd.read_excel(".\Tokyo_2020\Coaches.xlsx", engine = 'openpyxl')

C:\Users\Samuel M Schappel\anaconda3\envs\PythonData\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [22]:
coaches_df.head()

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN