In [16]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [17]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\HP\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [19]:
countries=pd.read_html("https://www.iban.com/country-codes")[0]
print(countries)

               Country Alpha-2 code Alpha-3 code  Numeric
0          Afghanistan           AF          AFG        4
1        Åland Islands           AX          ALA      248
2              Albania           AL          ALB        8
3              Algeria           DZ          DZA       12
4       American Samoa           AS          ASM       16
..                 ...          ...          ...      ...
244  Wallis and Futuna           WF          WLF      876
245     Western Sahara           EH          ESH      732
246              Yemen           YE          YEM      887
247             Zambia           ZM          ZMB      894
248           Zimbabwe           ZW          ZWE      716

[249 rows x 4 columns]

In [21]:
countries.columns=["Country","Alpha-2 Code","Alpha-3 Code", "Numeric"]
countries.set_index("Country",inplace=True)
countries

                  Alpha-2 Code Alpha-3 Code  Numeric
Country
Afghanistan                 AF          AFG        4
Åland Islands               AX          ALA      248
Albania                     AL          ALB        8
Algeria                     DZ          DZA       12
American Samoa              AS          ASM       16
...                        ...          ...      ...
Wallis and Futuna           WF          WLF      876
Western Sahara              EH          ESH      732
Yemen                       YE          YEM      887
Zambia                      ZM          ZMB      894
Zimbabwe                    ZW          ZWE      716

[249 rows x 3 columns]

In [22]:
olympics_facts.to_csv("../Output/countries_codes.csv")